@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Rubik:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Arimo', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Arimo', sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgba(245, 222, 240, 0.749);
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Rubik', sans-serif;
}

.imgbox img{
    width: 200px;
    transition: none;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}